*{
    margin: 0;
    padding: 0;
   
}

h1{
    color:blue;
    align-items: center;
}


.invalida{
    border: 2px rgb(211,0,0) solid;

}

.mensagem-sucesso{
    background-color: rgb(145,255,145);
    color: rgb(2,78,2);
}

.mensagem-erro{
    background-color: rgb(255,187,187);
    color: rgb(255,0,0);
}
